body {
    font-family: 'Montserrat', sans-serif;
    color: #3d4a4c;
    background-color: #e6f0f2;
}

section {
    display: flex;
    justify-content: center;
}

h1, h2 {
    color: #1c6d7d;
    text-align: center;
    font-weight: 600;
}

input {
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.wrapper {
    border: 1px solid #1c6d7d;
    margin: 1rem;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
}

.wrapper p {
    text-align: left;
    font-size: 0.875rem;
}

.wrapper input {
    margin-top: 1rem;
    width: 90%;
}

.btn-wrapper {
    margin-top: 1rem;
}

.btn {
    padding: 0.75rem 1.25rem;
    border-radius: 10px;
}

.btn-primary {
    background-color: #1c6d7d;
    color: #fff;
    border:#1c6d7d;
}

.btn-secondary {
    background-color: #fff;
    color: #1c6d7d;
    border:#1c6d7d;
    margin-right: 1rem;
}

.btn-primary:hover {
    background-color: #094a57;
    border:#094a57;
}

.btn-secondary:hover {
    background-color: #e7e7e7;
}

/* For screen bigger than 768 (tablets and up) */
@media screen and (min-width: 769px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 1320px;
    }
    .wrapper {
        padding: 2rem 4rem;
        margin: 2rem;
    }
    .wrapper input {
        width: 70%;
    }
    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }
    h1 {
        margin-bottom: 4rem;
    }
}

/* For screen between 768px and 992px (tablets) */
@media screen and (min-width: 769px) and (max-width: 992px) {
    .wrapper {
        padding: 2rem;
        margin: 1rem;
    }
    .wrapper input {
        width: 80%;
    }
}
